@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* GLOBAL DEFAULTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	color: #fff;
	background-color: #1e2e49;
	overflow-x: hidden;
}

h2,
span {
	margin: 1.5rem auto;
	text-align: center;
	font-weight: 300;
}

#board {
	height: 60%;
	width: 80%;
	margin: 0 auto 2rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

img {
	height: 34%;
	width: 30%;
	margin: 0.5rem 0;
	background-color: #202020;
	border: 1px solid #fff;
	border-radius: 0.2rem;
	cursor: pointer;
}

.matched {
	cursor: not-allowed;
	opacity: 0.5;
	transform: scale(0.9);
	transition: all 1s linear;
}
