@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* GLOBAL DEFAULTS */
* {
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   font-weight: 100;
   margin: 0;
   padding: 0;
}

body {
   background-color: rgb(70, 70, 70);
   color: whitesmoke;
   height: 90vh;
   width: 100vw;
   overflow-x: hidden;
}

h2, span {
   width: 100%;
   text-align: center;
   margin: 2rem auto;
   font-weight: bold;
}

#board {
   height: 60%;
   width: 60%;
   margin: 1rem auto;
   display: flex;
   flex-wrap: wrap;
}

img {
   cursor: pointer;
   height: 30%;
   width: 30%;
   margin: 0.3rem;
   background-color: rgb(20, 20, 20);
   border-radius: 1rem;
}

.matched {
   cursor: default;
   opacity: 0.5;
   transform: scale(0.9);
   transition: all 1s linear;
}